# File templates/ipatables.j2
# Firewall rules for Couchbase Server set by Ansbile
#
-A INPUT -p tcp -m state --state NEW -m tcp --dport 4369 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server.admin_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server.api_port }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server.internal_ports }} -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport {{ couchbase_server.node_data_ports }} -j ACCEPT
